.formSection {
    position: relative;
    height: 100vh;
    padding: 1px 0 0 0;
    margin: -1px auto 0 auto;
    display: grid;
    align-items: center;
    

    
    
}
.formContainer {
    margin-top: -80px;
}
.formSection > img {
    position: absolute;
    top: 0;
    left: -106px;
    z-index: 2;
}
.toggleSection {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 99;
   
}

